@import '{}/node_modules/bootstrap/scss/bootstrap';
@import '../imports/ui/pages/styles/Login.scss';

body {
  background-color: #efefef;
}

.jumbotron {
  background-color: #efefef;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.clickable {
  cursor: pointer;
}

.fa-spinner {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
